/* Style buttons*/
.roundButton {
	border-radius:28px;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration: none;
    margin: 1%;
	width: 100%;
	max-height: max-content;
}

/* Wiggle button when pressed*/
.roundButton:active {
	position:relative;
	top:1px;
}


/* Button colors*/
.greenButton {
	background-color:#44c767;
	border:1px solid #18ab29;
}

.greenButton:hover {
	background-color:#5cbf2a;
}

.yellowButton {
	background-color:#eafd3d;
	border:1px solid #95ab19;
}
.yellowButton:hover {
	background-color:#acbd2a;
}

.blueButton {
	background-color:#5972ff;
	border:1px solid #3e50b9;
	color: white;
}

.blueButton:hover {
	background-color:#2a3575;
}

.lightBlueButton {
	background-color:#59c2ff;
	border:1px solid #3e50b9;
	color: white;
}

.lightBlueButton:hover {
	background-color:#4da7db;
}