
/* Use for testing area coverage and stuff*/
.testRed {
    background-color: red;
}

.testBorder {
    border: 5px solid black;
}

/* Reset all margins*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Add a black background color to the top navigation */
.navbar {
    background-color: #333;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height : 50px;
    border: 1px solid black;
    margin-bottom: 20px;
}

/* Style the links inside the navigation bar */
.navbar a {
    margin-left: 30px;
    padding: 0;
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.block-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 25px;
    height: 300px;
    width: 300px;
    background-color: #eff0f1;
    margin: 10px;
    gap: 30px;
}

.end-of-container {
    margin-top: auto;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    align-self: center;
}

.flex-grow {
    flex: 1;
}

/* Make sure list is inside */
.flex-column ul{
    list-style-position: inside;
}

.bigboi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Configure bigboi for himself*/
.bigboi {
    margin-top: 25px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #eff0f1;
    border-radius: 25px;
}

.bigboi > div, .bigboi > img {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
}



/* Make titles pop*/
.title {
    font-size: x-large;
    font-weight: bold;
}


/* Put all content under eachother*/
.content-wrapper {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .content-wrapper {
      width: 1000px;
  }

  .block-row {
      flex-direction: row;
  }

  .bigboi {
    width: 930px;
    flex-direction: row;
  }

  /* Make image fit*/
  img {
      max-width: 30%;
      object-fit: cover;
    }
}